#cartOverlay::before {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #0000008a;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}

.image-wrap {
    background: aliceblue;
}

.image-wrap .fa {
    color: #046fda;
    font-size: 2.5em;
}